.env
node_modules/
../.bash_history
        ../.config/
        ../.gitconfig
        ../.node_repl_history
        ../.npmrc
        ../.rest-client/
        ../.vscode/
        ../.yarnrc
        ../3D Objects/
        ../AppData/
        ../Contacts/
        ../Country-statistics-and-weather-page/
        ../Desktop/792802.jpg
        ../Desktop/API project.zip
        ../Desktop/App3.js
        ../Desktop/Discord.lnk
        ../Desktop/Figma.lnk
        ../Desktop/GitHub Desktop.lnk
        ../Desktop/Maze game/
        ../Desktop/Microsoft Teams.lnk
        ../Desktop/Movie-battle/
        ../Desktop/Postman.lnk
        ../Desktop/Secret-messaging-application/
        ../Desktop/Supersaver.pdf
        ../Desktop/Visual Studio Code.lnk
        ../Desktop/Zoom.lnk
        ../Desktop/bill calculator/
        ../Desktop/blog/
        ../Desktop/calculator/
        ../Desktop/desktop.ini
        ../Desktop/html/
        ../Desktop/indecision application/
        ../Desktop/indecision-app/
        ../Desktop/jonas/
        ../Desktop/nat/
        ../Desktop/natours project/
        ../Desktop/part2/
        ../Desktop/react practice/
        ../Documents/
        ../Downloads/
        ../Favorites/
        ../IntelGraphicsProfiles/
        ../Links/
        ../Maze-game/
        ../MicrosoftEdgeBackups/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{62e72a92-b077-11ea-a91b-ee6026ed3e32}.TM.blf
        ../NTUSER.DAT{62e72a92-b077-11ea-a91b-ee6026ed3e32}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{62e72a92-b077-11ea-a91b-ee6026ed3e32}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Pictures/
        ../Saved Games/
        ../Searches/
        ../Videos/
        ../_netrc
        ../backend/
        ../fergus/
        ../firstchallenge/
        ../list/
        ../nodejs/
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
        ../practice/
        ../prt1/
        ../shoppy/
        ../watchchange/
        .gitignore